{% extends 'base.html'%}


{% block body %}


<div>
    <h1> show state details</h1>
      <table class="table" style="margin-left: 30px;">
             <tr>
                    <th>name</th>
                    <th>state</th>
                    <th colspan="2" style="text-align: center;">action</th>
             </tr>
             {% for s in list_state %}
             <tr>
                   <td>{{s.name}}</td> 
                  <td><img src="{{s.photo.url}}" alt="" style="width: 100px;height: 50px;"></td>  
                <td> <a href="{% url 'city_update' s.id%}">update</a> </td>
                <td> <a href="{% url 'city_delete' s.id%}">delete</a></td>
            </tr>

            {% endfor %}
      </table>
  
   </div>

   {% endblock %}